body{
    background: #CC95C0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7AA1D2, #e6da98, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#carouselExampleAutoplaying .carousel-item{
    object-fit: cover;
    object-position: center;
    height: 40vw;
}

.contenedor-barra-negra{
    height: 5vw;
}

.contenedor-titulo{
    height: 10vw;
}

.contenedor-categorias{
    height: 20vw;
}

.navbar{
    z-index: 1;
}
.carousel-caption{
    font-family: 'Exo 2', sans-serif;
    text-shadow: 0 0 10px #FF0000, 0 0 10px #0000FF;
}
