body{
    background: #CC95C0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7AA1D2, #e6da98, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#carouselExampleAutoplaying .carousel-item{
    object-fit: cover;
    object-position: center;
    height: 30vw;
}


#carouselExampleAutoplaying .carousel-caption{
    font-size: 1.9rem;
}


@media (max-width: 600px){
#carouselExampleAutoplaying .carousel-caption{
    height: 26vw;
    font-size: 1.2rem;
    }
}

.contenedor-barra-negra{
    height: 5vw;
}
.contenedor-titulo{
    height: 10vw;
}
.contenedor-categorias{
    height: 20vw;
}
.navbar{
    z-index: 1;
}
.carousel-caption{
    font-family: 'Exo 2', sans-serif;
    text-shadow: 0 0 10px #FF0000, 0 0 10px #0000FF;
}
.boton-categoria button{
    transition: .3s;
}
.boton-categoria button:hover{
    transform: scale(1.05);
}
.card-body img{
    object-fit: cover;
    object-position: center;
    height: 20vw;
}
.card img{
    transition: .3s;
}
.card img:hover{
    transform: scale(1.05);
}
@media (max-width: 767px){
    #fila-cards{
        justify-content: center;
    }
    .card-body img{
        height: 50%;
    }
}

.card-body button{
    transition: .3s;
}
.card-body button:hover{
    transform: scale(1.2);
}

@media (max-width: 420px){
    .navbar p{
        width: 0.5rem;
        padding-right: 6rem;
    }
    .texto-gato img{
        height: 3rem;
    }
}


@media (max-width: 475px){
    .navbar p{
        width: 0.5rem;
    }
    .texto-gato img{
        height: 3rem;
    }
}